<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>348513316290-82vbdkigt50ge4m6dunomt1gg6m3il93.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.348513316290-82vbdkigt50ge4m6dunomt1gg6m3il93</string>
	<key>API_KEY</key>
	<string>AIzaSyDqzueWDi4U11lqyFf8nFs_EFAjODa3LJs</string>
	<key>GCM_SENDER_ID</key>
	<string>348513316290</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.ufg.pfc.phMobile</string>
	<key>PROJECT_ID</key>
	<string>ufg-pfc-sonda-ph</string>
	<key>STORAGE_BUCKET</key>
	<string>ufg-pfc-sonda-ph.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:348513316290:ios:3e88b1def6e9a6a88aba5b</string>
</dict>
</plist>